/* desktop_1280 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 55px;
gap: 50px;

position: relative;
width: 1280px;
height: 2794.97px;
left: 37px;
top: 59px;

/* white/100 */
background: #FFFFFF;
